# SPDX-FileCopyrightText: 2024 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: CC0-1.0

# SPDX-FileContributor: Michael Meinel
# SPDX-FileContributor: Michael Fritzsche

src/hermes_toml/__pycache__/
src/hermes_toml/util/__pycache__/
.pytest_cache/
__pycache__/
hermes.toml
.hermes/
